# Node modules
node_modules/
npm-debug.log

# Logs
logs/
*.log
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Directory for local dependencies
.idea/
.vscode/

# Coverage reports
coverage/

# OS files
.DS_Store

# Optional npm cache directory
.npm/

# Build directories
dist/
build/

# Temporary files
tmp/
temp/
